extends layouts/main-layout.pug
  
block content
  h1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum laboriosam iure, dignissimos quae cupiditate quisquam, a enim dolor maxime iste, itaque eius est doloribus non porro dolore ut. Officiis, hic!
